<label
  [cpPresetColors]="presetColors"
  [cpFavouriteColors]="favouriteColors"
  (cpFavouriteColorsAdded)="handleFavouritesColors($event)"
  (cpFavouriteColorsChange)="handleFavouritesColors($event)"
  [cpFavouriteColorButton]="true"
  [cpAlphaChannel]="'always'"
  [cpOutputFormat]="'hex'"
  [cpOKButtonClass]= "'btn btn-primary btn-xs'"
  [(colorPicker)]="color"
  [cpPositionRelativeToArrow]="true"
  [cpWidth]="'350px'"
  [cpFallbackColor]="'#000'"
  [cpCancelButtonClass]= "'btn btn-primary btn-xs'"
  [cpSaveClickOutside]="true"
  [cpPosition]="'left'"
  [cpToggle]="true"
  [cpDialogDisplay]="'inline'"
  (colorPickerChange)="setColor($event)"
  (mousedown)="false;">
</label>
